node_modules

coverage*
Dockerfile*
docker-compose*

.husky
.turbo
.git
.gitignore
.github
.lintstagedrc
.npmrc
.prettierignore
.prettierrc.json
.dockerignore
.vscode
.zed
.idea
.env
.editorconfig
.env.example

commitlint.config.js
README.md
LICENSE
Makefile
helm-charts

*.log
*.tsbuildinfo
*.md
