button {
  font-size: var(--font-sm);
  font-family: var(--font-sans);
  border-radius: var(--radii);
  padding-inline: 10px;
  padding-block: 8px;
  cursor: pointer;
  border: none;
  transition:
    opacity 200ms ease,
    transform 100ms ease;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: scale(0.975);
  }
}

button[variant='outline'] {
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--foreground-color);
}

button.icon-button {
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  color: var(--foreground-color);
  border-radius: var(--radii);
  transition: background 200ms ease;

  &:hover {
    background: rgb(255 255 255 / 10%);
  }
}
